body{
    background-color: rgb(207, 206, 206);
}
h1{
    font-size: 50px;
}


.titulo1{
    font-size: 45px;
}
.hexadecimal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#rojo{
    background-color:red ;
}

#negro{
    background-color: black;
    color: white;
}

#blanco{
    background-color: white;
}

#azul{
    background-color:blue;
}

#verde{
    background-color: lime;
}



.titulo2{
    font-size: 40px;
}
.rgb{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#rgb1{
    background-color: rgb(149, 20, 235);
    color: white;
}

#rgb2{
    background-color: rgb(12, 79, 100);
    color: white;
}

#rgb3{
    background-color: rgb(100, 200, 99);
}

#rgb4{
    background-color: rgb(200, 100, 80);
}

#rgb5{
    background-color: rgb(200, 10, 200);
}



.titulo3{
    font-size: 35px;
}
.hsl{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hsl1{
    background-color: hsl(189, 84%, 50%);
}

#hsl2{
    background-color:hsl(287, 85%, 78%) ;
}

#hsl3{
    background-color:hsl(351, 85%, 78%) ;
}

#hsl4{
    background-color: hsl(95, 97%, 52%);
}
#hsl5{
    background-color:hsl(61, 97%, 52%) ;
}

